/* Fonts */

* { box-sizing: border-box; }

body, #links { font-family: 'PT Serif', serif; }
code, pre.codeblock { font-family: Fixed, monospace; }

h1 { font-weight: bold; font-size: 1.6em; }
h2 { font-weight: bold; font-size: 1.2em; }
#sidebar a { font-size: 1.1em; color: #ffffff; }

/* Hyperlinks */
a { text-decoration: none; }
a:link { color: #003366; }
a:visited { color: #003366; }

p { text-align: justify; width: 100%; padding: 10px; }

#wrapper { width: 100%; }

#content { position: absolute; top: 50px; width: 100%; left: 0px; padding: 10px; }
#navigation { position: absolute; top: 60px; width: 90%; background-color: #2C3539; display: none; left: 5px; }
#mobile-menu { position: absolute; top: 0px; width: 100%; left: 0px; height: 55px; background-color: #2C3539; color: #ffeeee; }
#mobile-menu-text { font-size: 1.0em; margin-left: 30px; padding: 0px; }

/* The navigation bar.  */

#sidebar li {
    list-style: none;
    padding: 5px;
}

/* The page content.  */

#links { margin-top: 10px; }

.codeblock {
    overflow-x: scroll;
    padding-left: 15px;
    border-left: thin solid #555599;
}


/* A small horizontal line before the links section */
#links:before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin-bottom: 10px;
    background-color: #000000;
}

#indexfill li {
    list-style: none;
    width: 95%;
    padding: 5px;
    padding-left: 30px;
}

#indexfill li:before {
    content: "\00BB \0020";
    color: #888888;
    position: absolute;
    margin-left: -20px;
}

#indexfill { padding-left: 0px; }

#twitter-widget { margin-top: 20px; margin-bottom: 40px; }

li.regular {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Borders */

h1, h2, #footer { padding: 10px; width: 100%; }

h1, h2 {
    border-top:  solid 1px;
    border-left: solid 1px;
}

#footer {
    border-bottom: solid 1px;
    border-left:   solid 1px;
}
