h1, pre, a, div#footer, p, li {
    font-family: 'Fjord One', serif;
}

body {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 40px;
}

h1 {
    font-weight: bold;
    font-size: 1.6em;
}

pre, ul#indexfill, a, div#footer, p {
    font-size: 1.0em;
}

p.first {
    text-align: justify;
}

p.regular {
    text-indent: 20px;
    text-align: justify;
}

li.regular {
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
}

code {
    color: #222222;
}

pre.out-of-line-code {
    font-family: Fixed, monospace;
    color: #222222;
    padding-left: 15px;
    border-left: thin solid #555599;
    font-family: Fixed, monospace;
    font-size: 75%;
}

a {
    text-decoration: none;
}

a:link {
    color: #003366;
}

a:visited {
    color: #003366;
}

div#wrapper {
    width: 100%;
}

div#sidebar {
    float: left;
}

div#sidebar li {
    list-style: none;
    margin: 0;
    padding: 15px;
}

div#sidebar li + li {
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #000000;
}

ul#indexfill li {
    list-style: none;
    margin: 0;
    padding: 10px;
}

ul#indexfill li + li {
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #999999;
}

ul#indexfill {
    padding-left: 25px;
}

div#sidebar a {
    font-size: 1.2em;
}

div#main {
    float: left;
    width: 32em;
}
