pre, a, div#leftfooter, div#rightfooter, p, li {
    font-family: 'PT Serif', serif;
}

body {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: #fffff9;
}

h1 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1.6em;
    background-color: #ffeeee;
    width: 100%;
    padding: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #999999;

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #999999;
}

pre, ul#indexfill, a, div#footer, p {
    font-size: 1.0em;
}

p.first {
    text-align: left;
}

p.regular {
    text-indent: 20px;
    text-align: left;
}

li.regular {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

code {
    color: #222222;
}

pre.out-of-line-code {
    font-family: Fixed, monospace;
    color: #222222;
    padding-left: 15px;
    border-left: thin solid #555599;
    font-size: 75%;
}

a {
    text-decoration: none;
}

a:link {
    color: #003366;
}

a:visited {
    color: #003366;
}

strong {
    font-weight: bold;
}

div#subheading {
    background-color: #eeeeff;
    margin-top: 40px;
    padding: 10px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    width: 100%;
    font-size: 1.1em;

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #999999;
}

div#wrapper {
    width: 100%;
}

div#right {
    float: left;
}

div#sidebar li:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #999999;
}

div#sidebar li {
    text-align: right;
    list-style: none;
    padding: 15px;
    width: 100%;
    background-color: #eeffee;
    margin: 20px;
    margin-top: 30px;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #999999;
}

ul#indexfill li {
    list-style: none;
    width: 95%;
    padding: 5px;
    padding-left: 30px;
}

ul#indexfill li:before {
    content: "\00BB \0020";
    color: #888888;
    position: absolute;
    margin-left: -20px;
}

ul#indexfill {
    padding-left: 0px;
}

div#sidebar a {
    font-size: 1.2em;
}

div#main {
    float: left;
    width: 32em;
}

div#leftfooter {
    background-color: #ffe0e0;

    width: 100%;

    padding: 10px;
    margin-top: 40px;
    margin-bottom: 50px;

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #999999;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
}

div#rightfooter {
    text-align: right;
    padding: 15px;
    width: 100%;
    background-color: #eeffee;
    margin: 20px;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #999999;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
}