h1, pre, a, div#footer, p {
    font-family: 'Lora', serif;
}

h1 {
    font-weight: 500;
    font-size: 1.4em;
}

pre, ul#indexfill, a, div#footer, p {
    font-size: 0.9em;
}

pre {
    color: #221144;
}

a {
    text-decoration: none;
}

a:link {
    color: #003366;
}

a:visited {
    color: #003366;
}

div#wrapper {
    width: 100%;
}

div#sidebar {
    float: left;
}

div#footer {
    font-style:italic;
    position:absolute;
    bottom:0;
}

div#sidebar li {
    list-style: none;
    padding-top: 1px;
    padding-bottom: 1px;
}

ul#indexfill li {
    list-style: none;
}

ul#indexfill {
    padding-left: 30px;
}

ul#indexfill li:before {
    content: "\00BB \0020";
    color: #888888;
    position: absolute;
    margin-left: -20px;
}

div#sidebar a {
    font-size: 1.0em;
}

div#main {
    float: left;
    width: 32em;
}
