---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta-in-post">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content | escape_liquid_tags }}
  </article>
</div>

<br/><br/><br/>

<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ page.title | cgi_escape }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" aria-label="Share on Twitter">
  <div class="resp-sharing-button resp-sharing-button--twitter">
Share on Twitter
  </div>
</a>

<a class="resp-sharing-button__link" href="mailto:?subject={{ page.title | cgi_escape }}&amp;body={{ site.url }}{{ page.url }}" target="_blank" aria-label="Share via E-Mail">
  <div class="resp-sharing-button resp-sharing-button--email">
Share via E-Mail
  </div>
</a>

{% if page.hnlink %}
<a class="resp-sharing-button__link" href="{{ page.hnlink }}" target="_blank" aria-label="Discussion on HN">
  <div class="resp-sharing-button resp-sharing-button--hn">
    Discussion on HN
  </div>
</a>

{% endif %}
