---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta-in-post">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
</div>

<br/><br/><br/>

  <div class="resp-sharing-button resp-sharing-button--twitter"><a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ page.title | cgi_escape }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" aria-label="Share on Twitter">
Share on Twitter
  </a></div>

<div class="resp-sharing-button resp-sharing-button--email"><a class="resp-sharing-button__link" href="mailto:?subject={{ page.title | cgi_escape }}&amp;body={{ site.url }}{{ page.url }}" target="_blank" aria-label="Share via E-Mail">
  Share via E-Mail
</a></div>

{% if page.hnlink %}

<div class="resp-sharing-button resp-sharing-button--hn"><a class="resp-sharing-button__link" href="{{ page.hnlink }}" target="_blank" aria-label="Discussion on HN">
  Discussion on HN
</a></div>

{% endif %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'playingwithpointers';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
